Repository hernanif1/circleci: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-backend, run-frontend

add backend and frontend readme
  backend/readme.md
  frontend/readme.md
Due: run-backend, run-frontend

Updated config.yml
  .circleci/config.yml
Due: none

update config circleci
  .circleci/config-backend.yml
  .circleci/config-frontend.yml
  .circleci/config.yml
Due: none

update config circleci
  .circleci/config-backend.yml
  .circleci/config-frontend.yml
Due: none

update config circleci
  .circleci/config.yml
Due: none

update config circleci
  .circleci/config-frontend.yml
  .circleci/config.yml
Due: none

update config circleci
  .circleci/config-backend.yml
Due: none

update config circleci
  .circleci/config-backend.yml
  .circleci/config.yml
Due: none

add pnpm lock
  frontend/pnpm-lock.yaml
Due: run-frontend

update config circleci
  .circleci/config-frontend.yml
Due: none

update config circleci
  .circleci/config-backend.yml
  .circleci/config-continue.yml
  .circleci/config-frontend.yml
  .circleci/config.yml
Due: none

update config circleci
  .circleci/config-continue.yml
Due: none

triggers fe only
  frontend/readme.md
Due: run-frontend

update circleci config
  .circleci/config-continue.yml
Due: none

Path conditions:
  run-backend: any of: backend/.*
  run-frontend: any of: frontend/.*
